<!DOCTYPE html>
<html lang="{{language}}">
{{> head }}
<body>

{{> header}}

<aside>
       {{> nav }}
</aside>


<main>
       <section class="small-container">
              <article>
                     <h1>{{title}}</h1>
                     <div>{{{content}}}</div>
              </article>
       </section>

       <section id="archief" class="small-container">

              <ul>
              {{#with (unique_years posts) as |years|}}
                {{#if years.length}}
                  {{#each years}}
                     <li class="year_breaker">{{this}}</li>
                     {{#each (filter_by_year this ../../posts)}}
                            <li><a href="./{{slugify title}}">{{title}}</a></li>
                     {{/each}}
                  {{/each}}
                {{else}}
                  <li>Geen berichten gevonden</li>
                {{/if}}
              {{/with}}
              </ul>
       </section>

       {{> tabs }}

</main>

       {{> footer}}
</body>
</html>
