<!DOCTYPE html>
<html lang="{{language}}">
{{> head }}
<body>

{{> header}}

<aside>
       {{> nav }}
</aside>


<main>
       <section class="small-container">
              <article>
                     <h1>{{title}}</h1>
                     <div>{{{content}}}</div>
              </article>
       </section>

       <section id="archief" class="small-container">

                {{unique_years posts}}
              <ul>
              {{#each years}}
                     <li class="year_breaker">{{this}}</li>
                     {{filter_by_year this ../posts}}
                     {{#each ../filtered}}
                            <li><a href="./{{slugify title}}">{{title}}</a></li>
                     {{/each}}
              {{/each}}
              </ul>
       </section>

       {{> tabs }}

</main>

       {{> footer}}
</body>
</html>
