<!DOCTYPE html>
<html lang="{{language}}">
{{> head }}
<body>

{{> header}}

<aside>
       {{> nav }}
</aside>


<main>
       <section class="small-container">
              <article>
                     <h1>{{title}}</h1>
                     <div>{{{content}}}</div>
              </article>
       </section>

       <section id="archief" class="small-container">

                {{ unique_years posts  }}
              <ul>
              {{#each years as |year| }}
                     <li class="year_breaker">{{year}}</li>
                     {{!-- {{ filter_by_year year ../collections.posts }}
                     {{#each ../filtered as |post|}}
                            <li><a href="./{{slugify post.title}}">{{post.title}}</a></li>
                     {{/each}} --}}
              {{/each}}
              </ul>
       </section>

       {{> tabs }}

</main>

       {{> footer}}
</body>
</html>
