<!DOCTYPE html>
<html lang="{{language}}">
{{> head }}
<body>

{{> header}}

<aside>
       {{> nav }}
</aside>


<main>
       <section class="small-container">
              <article>
                     <h1>{{title}}</h1>
                     <div>{{{content}}}</div>
              </article>
       </section>

       <section id="archief" class="small-container">
               <ul>
               {{#with unique_years nieuwsbrieven as |years|}}
                    {{#each years as |year|}}
                        <li class="year_breaker">{{year}}</li>
                        {{#with filter_by_year year ../../nieuwsbrieven as |filtered|}}
                            {{#each filtered}}
                                <li class="newsletter-item">
                                    <a href="{{this.path}}">{{this.title}}</a>
                                </li>
                            {{/each}}
                        {{/with}}
                    {{/each}}
               {{/with}}
               </ul>
       </section>

       {{> tabs }}

</main>

       {{> footer}}
</body>
</html>
