<!DOCTYPE html>
<html lang="{{language}}">
<head>
  {{> head }}
<body>

    {{> header}}

  <aside>
      {{> nav }}
  </aside>


 <main>
    <article>
      <section class="small-container blog_header">
        {{#if custom.thumbnail }}
          <img class="thumb" src="{{assets_gateway}}/{{custom.thumbnail}}" />
        {{/if}}
        <h1>{{title}}</h1>
        <span class="date">{{ formatDateAsMonthYear creation_date language}}</span>
      </section>
      <section class="small-container">{{{ extract_images content }}}</section>
    </article>

    {{> tabs}}

</main>

    {{> footer }}
</body>
</html>
