<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8" />
  <title>{{body.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="{{ trim_seo_desc body.content }}" />
  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="../{{assets_url}}/css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7060374/6317832/css/fonts.css" />
</head>
<body>

  {{> header}}

  <aside>
      {{> nav }}
  </aside>
 
 <main>

  <section class="small-container serie-container">
    <article class="series_introduction">
        
        <h1>{{body.title}}</h1>
        <div>
            {{{body.content}}}
        </div>
    </article>


    {{#each collections.paintings as |c| }} 
        
        <article class="painting">
            <img src="https://nft.autonomous-times.com/cdn/{{{c.custom_fields.nft_contract}}}/0/600/image.png" />
            <div class="block_painting">
                <h3>{{{c.title}}}</h3>
                <div>{{{c.custom_fields.content_nl}}}</div>
                <span>{{{c.custom_fields.method}}}</span>
                <span>{{{c.custom_fields.size}}}</span>
                <span>{{{c.custom_fields.atelier_id}}}</span>
            </div>
        </article>

    {{/each}}

  </section> 

   {{> tabs }}

</main>

    {{> footer }}
</body>
</html>