<!DOCTYPE html>
<html lang="{{language}}">
{{> head }}
<body>

  {{> header}}

  <aside>
      {{> nav }}
  </aside>

 <main>

  <section class="small-container serie-container">
    <article class="series_introduction">

        <h1>{{title}}</h1>
        <div>
            {{{content}}}
        </div>
    </article>


    {{#each serie as |p| }}

        <article class="painting">
            <img src="{{assets_gateway}}/ipfs/{{p.image}}" />
            <div class="block_painting">
                <h3>{{{p.title}}}</h3>
                <div>{{{p.content}}}</div>
                <span>{{{p.method}}}</span>
                <span>{{{p.size}}}</span>
            </div>
        </article>

    {{/each}}

  </section>

   {{> tabs }}

</main>

    {{> footer }}
</body>
</html>
